{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
        <h1 style="text-align:center;">Admin Panel</h1>
        <div class="split"></div>
        <div>
            <div class="accounts">
            <a href="/admin/deposit">Deposit Libros</a>
            <a href="/admin/withdraw">Withdraw Libros</a>
            <a href="/admin/transfer">Transfer Libros</a>
            <a href="/admin/create-user">Create User</a>
            <a href="/admin/delete-account">Create Account</a>
            <a href="/admin/interest">Set Interest Rate</a>
            <a href="/admin/users-and-accounts">View Users And Their Accounts</a>
            </div>
        </div>
{% endblock %}