{% extends "base.html" %}
{% block title %}Create User{% endblock %}
{% block content %}
        <h1 style="text-align:center;">Create User</h1>
        <div class="split"></div>
        <div>
                <form class="form" action="/admin/create-user" method="post">
                        <label for="username">Username</label>
                        <input type="text" class="input" id="username" name="username" required="required">
                        <input type="checkbox" id="hidden" name="hidden">
                        <label for="hidden">Hidden</label>
                        <input type="checkbox" id="admin" name="admin">
                        <label for="admin">admin</label>
                        <input type="submit" class="submit">
                        <p class="error" style="font-size:20px;text-align:center;">{{error}}</p>
                </form>
        </div>
{% endblock %}